@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: #ee041e transparent;
}

html,
body {
  min-height: 100vh;
  font-family: "Open Sans";
  background-color: black;
}

a {
  text-decoration: none;
  color: #c4c4c4;
}

a:hover {
  color: #ee041e;
}

.banner img {
  width: 100%;
  height: 100%;
}

.icon-back,
.presentation-content-card,
.card,
.image,
.footer-logo,
.git-hub,
.linkedin,
.instagram {
  cursor: pointer;
}

.icon-back {
  position: fixed;
  bottom: 20px;
  right: 0;
  width: 125px;
  height: 30px;
  background-image: url("../img/bat-symbol.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.transition {
  height: 300vh;
}

.transition-content {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 16px;
  letter-spacing: 6px;
  color: #ee041e;
}

.hero,
.presentation {
  width: 100%;
  height: 100vh;
}

.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("../img/batman-suit.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 150px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 85%;
  height: 20vh;
  margin: 0 auto;
  padding-top: 25px;
  border-bottom: 2px solid #ee041e;
}

.navbar-logo {
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar-links {
  display: flex;
}

.navbar-links li {
  color: #ee041e;
  margin-left: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.hero-title,
.hero-subtitle {
  color: #fff;
  letter-spacing: 20%;
}

.hero-title {
  font-size: 50px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation-content {
  display: flex;
  width: 80vw;
  height: 80vh;
  border: 2px solid #ee041e;
}

.presentation-content-img {
  width: 50%;
  background-image: url("https://wallpapercat.com/w/full/b/2/f/34884-3840x2160-desktop-4k-the-batman-2022-wallpaper-image.jpg");
  background-size: cover;
  background-position: center;
}

.presentation-content-text {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 80px;
  color: #c4c4c4;
  letter-spacing: 20%;
}

.presentation-content-text span {
  color: #ee041e;
}

.presentation-content.second,
.presentation-content.third {
  position: relative;
  justify-content: center;
  align-items: flex-end;
  border: 2px solid #ee041e;
}

.presentation-content.second video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.presentation-content-card {
  position: absolute;
  width: 28%;
  height: 34%;
  border: 1px solid #ee041e;
  margin-bottom: 60px;
  background-size: cover;
  background-position: center;
}

.presentation-content-card.first {
  bottom: 0;
  left: 80px;
  background-image: url("../img/robert-eyes.jpg");
}

.presentation-content-card.second {
  background-image: url("../img/batman-fear.jpg");
}

.presentation-content-card.third {
  bottom: 0;
  right: 80px;
  background-image: url("../img/batman-fight-dark.webp");
}

.presentation-content.third {
  padding: 40px;
}

.presentation-content-cards {
  display: flex;
  width: 100%;
  height: 100%;
}

.card {
  width: 33.33%;
  height: 100%;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
}

.card.first {
  margin-left: 0;
  background-image: url("../img/carmine-falcone.webp");
}

.card.second {
  background-image: url("../img/riddler-promo.webp");
}

.card.third {
  background-image: url("../img/batman-penguin.jpg");
}

.card h2 {
  width: 100%;
  background-color: black;
  text-align: center;
  font-weight: 350;
  letter-spacing: 15%;
  color: #c4c4c4;
  font-size: 24px;
  padding-bottom: 12px;
  overflow: hidden;
}

.card span {
  padding-bottom: 10px;
  border-bottom: 2px solid #c4c4c4;
}

.card:hover {
  transform: scale(0.98);
}

.presentation-content.fourth {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;
}

.image {
  border: 2px solid #ee041e;
}

.image:hover {
  transform: scale(0.98);
}

.image.first,
.image.second,
.image.third {
  height: 60%;
}

.image.first {
  width: 50%;
  margin-right: 20px;
  background-image: url("../img/batman-gotham-view.jpg");
  background-position: center;
  background-size: cover;
}

.image.second,
.image.third {
  width: 23%;
  background-position: center;
  background-size: cover;
}

.image.second {
  margin-right: 20px;
  background-image: url("../img/gotham-square.webp");
}

.image.third {
  background-image: url("../img/bruce-walking.webp");
  background-position: left;
}

.image.fourth,
.image.fifth {
  margin-top: 20px;
  height: 40%;
  background-size: cover;
}

.image.fourth {
  width: 50%;
  background-image: url("../img/bat-sinal.jpg");
  background-position: top;
}

.image.fifth {
  width: 48%;
  background-image: url("../img/batman-and-catwoman.webp");
}

.footer {
  padding: 10px;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25vh;
  border-top: 2px solid #ee041e;
}

.footer-title h2 {
  text-transform: uppercase;
  font-size: 48px;
  color: #c4c4c4;
}

.footer-links {
  height: 100%;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.footer-logo {
  margin-left: -100px;
  width: 400px;
  height: 100px;
  background-image: url("../img/bat-symbol.png");
  background-position: center;
  background-size: cover;
}

.git-hub,
.linkedin,
.instagram {
  background-position: center;
  background-size: cover;
}

.git-hub {
  width: 42px;
  height: 42px;
  background-image: url("../img/github.png");
}

.linkedin {
  width: 32px;
  height: 32px;
  background-image: url("../img/linkedin.png");
}

.instagram {
  width: 32px;
  height: 32px;
  background-image: url("../img/instagram.png");
}

.instagram:hover {
  background-image: url("../img/instagram-hover.png");
}

.git-hub:hover {
  background-image: url("../img/github-hover.png");
}

.linkedin:hover {
  background-image: url("../img/linkedin-hover.png");
}
